* {
  padding: 0px; /*Para que todos los elementos se peguen*/
  margin: 0px;
}

.opciones {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: #008cba;
  line-height: 40px; /*Aumentar tamaño*/
}

.menu {
  width: 90%;
}

.menu li {
  list-style: none; /*Quitar números a lista*/
  display: inline-block; /*Colocar elementos en linea*/
  width: 180px;
  padding-top: 10px;
}

.menu a {
  text-decoration: none; /*Quitar subrayado*/
  color: white;
  font-family: Arial;
  font-size: 20px;
  display: block; /*Ocupa el espacio disponible de la etiqueta que la contiene, en este caso li */
}

.iconosrs {
  width: 10%;
}

.iconosrs li {
  list-style: none; /*Quitar números a lista*/
  display: inline-block; /*Colocar elementos en linea*/
  width: 50px;
  padding-top: 10px;
}

.iconosrs a {
  text-decoration: none; /*Quitar subrayado*/
  color: white;
  font-family: Arial;
  font-size: 20px;
  display: block;
}

.contenido {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  background-image: url("imagenes/fondo.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; /*Si imagen es muy pequeña colocar completa*/
}

.contenido_i {
  flex: 1;
  padding-top: 50px;
  width: 60%;
  justify-content: center;
  text-align: center;
  font-family: Arial;
  padding-left: 60px;
  padding-right: 50px;
  height: 300px;
  color: white;
  /* background-color: grey; */
}

.contenido_i p {
  text-align: justify;
  font-size: 20px;
}

.contenido a {
  border-radius: 28px;
  padding: 19px;
  text-decoration: none;
  color: #0099cc; /* Color del texo */
  border: 2px solid #0099cc; /* Grosor del borde, estilo de línea y color */
  border-radius: 6px; /* Añadir esquinas curvadas */
}

.btndcv:hover {
  background-color: #008cba;
  color: white;
}

.contenido_d {
  width: 30%;
  height: 300px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  /* background-color: green;  */
}

.habilidades_tecnicas {
  display: flex;
  width: 100%;
}

.title_ht {
  text-align: center;
  font-family: Arial;
  padding-top: 20px;
}

.lenguajes_programacion {
  font-family: Arial;
  padding-top: 30px;
  padding-left: 10px;
  /* background-color: yellow; */
  width: 50%;
  padding-bottom: 40px;
}

.lenguajes_programacion h2 {
  text-align: center;
}

/*--------------------------Skill-------------------*/
.bar_container {
  display: flex;
  align-items: top;
  justify-content: center;
}
.bar_container img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.bar_container li {
  width: 100%;
  margin-top: -4px;
  margin-bottom: 35px;
  list-style: none;
}
.bar {
  background-color: #2f363e;
  display: block;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) 0 1px 2px rgba(0, 0, 0, 0.24);
}

.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(
    90deg,
    #008cba,
    #008cba,
    #008cba
  ); /*Llenado de linea*/
}

.skill_java {
  width: 90%;
}

.skill_python {
  width: 80%;
}

.skill_html {
  width: 80%;
}

.skill_css {
  width: 80%;
}

.skill_php {
  width: 80%;
}

.skill_js {
  width: 80%;
}

.skill_vue {
  width: 80%;
}

.skill_angular {
  width: 80%;
}

.skill_django {
  width: 80%;
}

.skill_flask {
  width: 80%;
}

.skill_jsb {
  width: 70%;
}

.redes {
  font-family: Arial;
  width: 50%;
  padding-right: 10px;
  padding-top: 30px;
  padding-left: 50px;
}

.redes h2 {
  text-align: center;
}

.skill_linux {
  width: 90%;
}

.skill_cisco {
  width: 90%;
}

.skill_ws {
  width: 90%;
}

.skill_vware {
  width: 80%;
}

.proyectos {
  background-color: #3a3a3a;
}

.proyectos h1 {
  color: white;
  text-align: center;
  font-family: Arial;
  padding-top: 20px;
}

.contacto {
  display: flex;
  width: 100%;
}

.c_i {
  display: inline-block;
  width: 50%;
  font-family: Arial;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.c_d {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 40px;
}

/*Slider Proyectos*/
.proyectos {
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.slidert1 {
  width: 700px;
  height: 500px;
  margin: auto;
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;

  justify-content: center;
  align-items: flex-end;
}

.slidert1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slidert1 input[type="radio"] {
  position: relative;
  z-index: 50;
  margin: 10px;
}

/*Cuando el input este activado seleccionar img*/
.slidert1 input[type="radio"]:checked ~ img {
  opacity: 1;
}

.slidert2 {
  width: 700px;
  height: 500px;
  margin: auto;
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;

  justify-content: center;
  align-items: flex-end;
}

.slidert2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slidert2 input[type="radio"] {
  position: relative;
  z-index: 50;
  margin: 10px;

  display: block;
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
}

.slidert2 input[type="radio"]:checked ~ img {
  opacity: 1;
}

/*Slidert3*/
.slidert3 {
  width: 700px;
  height: 500px;
  margin: auto;
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;

  justify-content: center;
  align-items: flex-end;
}

.slidert3 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slidert3 input[type="radio"] {
  position: relative;
  z-index: 50;
  margin: 10px;

  display: block;
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
}

.slidert3 input[type="radio"]:checked ~ img {
  opacity: 1;
}

.web_project {
  padding-bottom: 60px;
}

/*----------------------------Contacto----------------------------------------------*/
.contacto {
  display: flex;
  width: 100%;
  background-image: url("imagenes/imagen\ fondo.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; /*Si imagen es muy pequeña colocar completa*/
  padding-top: 20px;
  padding-bottom: 20px;
}

.informacion_c {
  display: flex;
  list-style: none;
  justify-content: left;
}

.informacion_c li {
  padding-left: 10px;
}

.c_d {
  background-color: white;
  width: 20%;
  text-align: center;
  border-style: solid;
  border-color: white;
  padding: 80px;
  border-radius: 20px;
  padding-top: 40px;
}

.c_d h1 {
  font-family: Arial;
}

.c_d input {
  width: 220px;
  border-style: solid;
  border-color: #008cba;
  border-radius: 5px;
  font-family: Arial;
}

#comentario {
  width: 220px;
  border-style: solid;
  border-color: #008cba;
  border-radius: 5px;
  color: black;
}

.mensaje {
  height: 200px;
}

.btnformulario {
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: #008cba;
  color: #008cba;
}

.btnformulario:hover {
  background-color: #0099cc;
  color: white;
  cursor: pointer;
}

.navbar_btn{
  display: none;
}

.footer {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-family: Arial;
  background-color: #008cba;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    top: 60px; 
    width: 100%;
    z-index: 1;  /*Se posicione encima*/
  }

  .navbar_btn{
    display: block;
  }

  .contenido_i{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-width: (400px,80%);
  }
  .contenido{
    height: 1107px;
  }
  
}


